.user {
  align-items: center;
  display: flex;
  font-size: var(--fs-l);
  gap: var(--baseHorzSpacing);
}

.initials,
.avatar {
  border-radius: 50%;
  border: var(--baseBorder);
  display: inline-block;
  height: 58px;
  width: 58px;
}

.initials {
  align-items: center;
  background-color: var(--primaryLightColor);
  display: flex;
  font-size: var(--fs-xl);
  justify-content: center;
}

.newFeedback {
  font-weight: var(--fw-bold);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  background: #ab61e5;
  border-radius: 3px;
  padding: 2px 10px;
}
