.wrapper {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.feedbackContainer {
  border: var(--baseBorder);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title {
  font-weight: 600;
  font-size: 31px;
  line-height: 42px;
  color: #031323;
  margin-bottom: 10px;
}

.feedbackGivenTxt {
  font-weight: var(--fw-bold);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #59636e;
  padding: 11px 13px;
}

.users {
  list-style-type: none;
}

.users {
  border-right: var(--baseBorder);
}

.userButton {
  padding: 1rem;
  width: 100%;
  background: #ffffff;
  cursor: pointer;
  border: 0;
}

.userButton:hover {
  background: #fbf7fe;
}

.activeUser {
  background: #f2f3f4;
}

.users h4 {
  margin: 0;
}

.users li {
  border-bottom: var(--baseBorder);
}


.userFeedback {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
}

.feedbackUserName {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #031323;
  margin-left: 26px;
  margin-bottom: 10px;
}

.questions {
  list-style-type: none;
  margin-top: 1rem;
}

.question {
  align-items: center;
  border-bottom: var(--baseBorder);
  display: flex;
  padding: 1rem 1rem 1rem 2rem;
}

.question:last-child {
  border-bottom: none;
}

.questionLabel {
  font-weight: var(--fw-semibold);
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  flex: 1;
  margin-right: 2rem;
}

.questionAnswerContainer {
  flex: 1;
  margin-left: 2rem;
}

.skipped {
  background: #acb1b6;
  border-radius: 3px;
  padding: 3px 10px;
  font-weight: var(--fw-bold);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}
