.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.questionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.back {
  border: none;
  background-color: inherit;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: #59636e;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.back:hover {
  color: #59636ea6;
}

.back:hover :first-child {
  color: #59636ea6;
}

.backIcon {
  margin-right: 5px;
}

.questionLabel {
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 42px;
  color: #031323;
  margin-bottom: 7px;
}

.feedbackInfo {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #acb1b6;
}

.userAvatar {
  width: 58px;
  height: 58px;
  border-radius: 29px;
  margin-left: 40px;
}
