.header {
  align-items: stretch;
  background-color: var(--lightGrey);
  border-bottom: var(--baseBorder);
  display: flex;
  gap: 2rem;
  padding: 0 var(--baseHorzSpacing);
}

.header h1 {
  font-weight: var(--fw-bold);
}

.header h1,
.header a {
  align-items: center;
  color: var(--copyColor);
  display: flex;
  margin: 0;
}

.header a {
  border-bottom: 3px solid var(--lightGrey);
  margin-bottom: 1px;
  padding-top: 10px;
  text-decoration: none;
}

.active {
  border-bottom: 3px solid var(--primaryColor) !important;
}

.spacer {
  border-right: var(--baseBorder);
  flex: 1;
}

.navlink {
  position: relative;
  padding-right: 10px;
}

.badge {
  background: #ab61e5;
  border-radius: 50%;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
  padding: 1px 5px 0px 5px;
  position: absolute;
  top: 15px;
  right: 0;
}
